<h3 class="mt-2 text-center">ساخت پست جدید</h3>
<div class="w-50 mx-auto">
    <%- include("../includes/messages.ejs") %>

</div>
<div class="d-flex align-items-center justify-content-center">
    <form action="/dashboard/add-post" class="w-50" method="POST">

        <label for="selectedThumbnail">عکس بند انگشتی</label>
        <div class="input-group mb-3">
            <input
                    type="file"
                    class="custom-file-input"
                    name="thumbnail"
                    id="selectedThumbnail"
                    aria-describedby="inputGroupFileAddon03"
            />
            <label
                    id="thumbStatus"
                    class="custom-file-label"
                    for="inputGroupFile03"
            >عکس مورد نظر را انتخاب کنید</label
            >
        </div>



        <div class="form-group">
            <label for="title">عنوان پست</label>
            <input
                    type="text"
                    class="form-control w-50"
                    name="title"
                    id="title"
            />
        </div>

        <div class="form-group">
            <label for="status">وضعیت</label>
            <select name="status" type="number" class="form-control w-25" id="status">
                <option value="0" selected>عمومی</option>
                <option value="1">خصوصی</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button
                        class="btn btn-sm btn-outline-secondary"
                        type="button"
                        id="imageUpload"
                >
                    آپلود عکس
                </button>
            </div>
            <div class="custom-file">
                <input
                        type="file"
                        class="custom-file-input"
                        id="selectedImage"
                />
                <label
                        id="imageStatus"
                        class="custom-file-label"
                        for="selectedImage"
                >
                    عکس مورد نظر را انتخاب کنید
                </label>
            </div>
        </div>


        <div id="progressDiv" style="display: none">
            <div class="progress">
                <div
                        id="progressBar"
                        class="progress-bar progress-bar-striped progress-bar-animated"
                        role="progressbar"
                        aria-valuemin="0"
                        aria-valuemax="100"
                ></div>
            </div>
        </div>

        <div class=" w-100 bg-light text-center">
            <p id="uploadResult" class="overflow-auto"> ادرس عکس</p>
        </div>

        <div class="form-group">
            <h5>متن اصلی پست</h5>
            <textarea name="body" class="form-control" id="body"></textarea>
        </div>

        <div class="row">
            <input type="submit" value="ساخت پست" class="btn btn-success m-2" />
            <a href="/dashboard" class="btn btn-warning m-2">انصراف</a>
        </div>
    </form>
</div>
