<form action="/search" method="POST" class="form-inline my-2 my-lg-0">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">جستجو</button>
    <input
        class="form-control ml-sm-2"
        type="text"
        name="search"
        placeholder="جستجو"
        aria-label="Search"
    />
</form>
