<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>ای بابا گشتم نیست صفحه ایی که میخوای</h1>
                <h2>خطای 404 خدمت شما</h2>
                <div class="error-details">
                    با عرض پوزش صفحه ایی که درخواست کردی رو پیدا ننمودم ، می
                    تونی برگردی به صفحه اصلی
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"
                        ><span class="fa fa-home"></span> منو برگردون خونه</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
