<form class="form-signin" action="/users/register" method="POST">
    <h1 class="h3 mb-3 font-weight-normal">ثبت نام کاربر</h1>
    <%- include("./includes/messages.ejs") %>
    <label for="inputFullname" class="sr-only">نام و نام خانوادگی</label>
    <input
        id="inputFullname"
        type="fullname"
        name="fullname"
        class="form-control mb-2"
        placeholder="نام و نام خانوادگی"
        autofocus
    />
    <label for="inputEmail" class="sr-only">آدرس ایمیل</label>
    <input
        type="email"
        name="email"
        id="inputEmail"
        class="form-control mb-2"
        placeholder="آدرس ایمیل"
    />
    <label for="inputPassword" class="sr-only">کلمه عبور</label>
    <input
        type="password"
        name="password"
        id="inputPassword"
        class="form-control mb-2"
        placeholder="کلمه عبور"
    />
    <label for="inputConfirmPassword" class="sr-only">تکرار کلمه عبور</label>
    <input
        type="password"
        name="confirmPassword"
        id="inputConfirmPassword"
        class="form-control"
        placeholder="تکرار کلمه عبور"
    />
    <div class="checkbox mb-3">
        <label>
            <a href="/users/login">اکانت کاربری دارم</a>
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
        ثبت نام
    </button>
</form>
